* {
    display: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainSlider {
    display: flex;
    flex-direction: column;
}

.slider {
    text-align: center;
    margin: 0 auto;
}

.slider h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 25px 0 5px 0;
}

.slider-texto {
    height: 230px;
    margin: 30px 0px 00px 0px;
}

.slider-texto-alt p{
    width: 550px !important;
}

.slider-texto p{
    color: white;
    text-align: center;
    margin: 25px auto;
    width: 80%;
}


.slider .botao{
    align-items: center;
    color: #1D252D;
    text-decoration: none;
    font-weight: 900;
    line-height: 1.5;
    background-color: #F2CD00;
    padding: 10px 30px 10px 30px;
    box-shadow: none;
    border: 0px solid RGBA(0,0,0,1);
    border-radius: 50px;
}

@media (max-width: 1024px) {
    .slider h1 {
    font-size: 46px;
    }

}

@media (max-width: 768px) {
    .slider h1 {
    font-size: 50px;
    }
    .slider-texto p{
        color: white;
        text-align: center;
        margin: 25px auto;
        font-size: 14px;
    }
    .slider .botao {
        font-size: 14px;
    }
}


@media (max-width: 595px) {
    .slider-texto p {
        font-size: 12px;
    }
}