.proporcionamos {
    margin: 0 auto;
    width: 75%;
}

.proporcionamos h1 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 45px;
}

.proporcionamos-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 0px 70px 0px;
}

.proporcionamos-itens-cards {
    background-color: #F6F6F6;
    margin: 0px 10px 0px 0px;
    padding: 25px 25px 25px 25px;
    border-radius: 30px 30px 30px 30px;
    width: 250px;
    height: 150px;
}

.proporcionamos-itens-cards img {
    width: 45px;
    margin-bottom: 10px;
}

.proporcionamos-itens-cards h2 {
    font-size: 20px;
    font-weight: 800;
}