.bpoBps {
    background-image: url('/public/HUB_BANNER_SERVIÇOS_2-1.png');
    background-size: 130%;
    margin-bottom: 50px;
}

.bpoBps-box {
    margin: 0 auto;
    width: 75%;
    display: flex;
    padding-top: 50px;
    align-items: center;
}

.bpoBps-texto {
    min-width: 480px;
}

.bpoBps-texto h1 {
    font-size: 36px;
    font-weight: 900;
    padding: 50px 0;
}

.bpoBps-texto p{
    font-weight: 400;
    font-size: 18px;
    color: #87868A;
}

.bpoBps img {
    width: 600px;
    height: 500px;

}

@media (max-width: 1250px) {
    .bpoBps-box {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .bpoBps img {
        width: 464px;
        height: auto;
    }
    .bpoBps-texto h1 {
        font-size: 32px;
    }
    .bpoBps-texto p {
        font-size: 16px;
    }
    .bpoBps-texto {
        min-width: auto;
    }
}

@media (max-width: 500px) {
    .cardsBpo {
        width: 95%;
    }
    .bpoBps img {
        width: 372px;
    }
    .cardsBpo-card {
        min-width: auto;
    }
}

@media (max-width: 500px) {
    .bpoBps img {
        width: 294px;
    }
}