.objetivos {
    background-image: url('/public/hub-banner-home2.png');
    background-position: center;
    background-size: 112%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    height: 315px;
}

.objetivos-texto {
    display: flex;
    flex-direction: column;
}

.objetivos-texto h2 {
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.objetivos-texto span {
    color: #F2CD00;
}

.objetivos-texto a{
    width: 235px;
    font-size: 16px;
    font-weight: 800;
    fill: #1D252D;
    color: #1D252D;
    background-color: #F2CD00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #1D252D;
    border-radius: 50px 50px 50px 50px;
    padding: 7px 20px;
    text-decoration: none;
    transition: ease-in 200ms;
}

.objetivos-texto a:hover{
    transform: scale(0.9);
    color: white;
}

.objetivos-img {
    width: 450px;
    height: 500px;
}

.objetivos-img img{
    width: 450px;
    height: auto;
    object-position: -27px 15px;
}


@media (max-width: 1025px) {
    .objetivos-img img {
        width: 360px;
        height: auto;
        object-position: -31px 55px;
    }
    .objetivos-texto h2 {
        font-size: 24px;
    }
}

@media (max-width: 910px) {
    .objetivos-img img {
        width: 350px;
        height: auto;
        object-position: -31px 55px;
    }

}

@media (max-width: 895px) {
    .objetivos-img {
        width: auto;
        height: auto;
    }
    .objetivos-img img {
        width: 285px;
        height: auto;
        object-position: -31px 6px;
    }
    .objetivos-texto a {
        width: 221px;
    }
    .objetivos-texto h2 {
        font-size: 20px;
    }
}

@media (max-width: 690px) {
    .objetivos-img img {
        width: 225px;
    }
    .objetivos-texto a {
        width: 190px;
        font-size: 13px;
    }
    .objetivos-texto h2 {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .objetivos-texto a {
        width: 166px;
        font-size: 11px;
    }
    .objetivos-texto h2 {
        font-size: 15px;
    }
    .objetivos-img img {
        width: 156px;
    }
}

@media (max-width: 450px) {
    .objetivos-texto a {
        width: 155px;
        font-size: 10px;
    }
    .objetivos-texto h2 {
        font-size: 13px;
    }
    .objetivos-img img {
        width: 156px;
    }
}

@media (max-width: 410px) {
    .objetivos-texto a {
        width: 144px;
        font-size: 9px;
    }
    .objetivos-texto h2 {
        font-size: 11px;
    }
    .objetivos-img img {
        width: 144px;
    }
}

@media (max-width: 385px) {
    .objetivos-texto a {
        width: 148px;
        font-size: 9px;
    }
    .objetivos-texto h2 {
        font-size: 11px;
    }
    .objetivos-img img {
        width: 95px;
        object-position: -4px -4px;
    }
}

