.sobreGrafico {
    margin: 0 auto;
    width: 75%;

}

.sobre-grafico {
    display: flex;
}

.sobre-grafico img {
    width: 570px;
    height: auto;
    padding-top: 60px;
    margin-right: 20px;
    position: relative;}

.sobre-grafico-box {
    padding: 80px 0 100px 0;
}

.sobre-grafico-box h1{
    font-size: 36px;
    font-weight: 800;
}

.sobre-grafico-box-texto {
    padding-top: 40px;
    min-width: 490px;
}

.sobre-grafico-box-texto strong{
    color: #ff6900;
}

.sobre-grafico-box-texto p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

@media (max-width: 1250px) {
    .sobre-grafico {
        flex-direction: column;
        align-items: center;
    }
    .sobre-grafico-box {
        padding: 0;
    }
}

@media (max-width: 769px) {
    .sobre-grafico-box-texto {
        min-width: auto;
    }
    .sobre-grafico img {
        width: 474px;
    }
    .sobre-grafico img {
        width: 368px;
    }
}

@media (max-width: 425px) {
    .sobre-grafico img {
        width: 314px;
    }
}