.consultoria {
    background-image: url('/public/HUB_BANNER_SERVIÇOS_2-1.png');
}

.consultoria-container {
    padding-bottom: 40px;
    margin: 0 auto;
    width: 75%;
    display: flex;
    padding-top: 50px;
    align-items: center;
}

.consultoria-texto {
    min-width: 432px;
}

.consultoria-texto h1 {
    font-size: 36px;
    font-weight: 900;
    padding: 50px 0;
}

.consultoria-texto p{
    font-weight: 400;
    font-size: 18px;
    color: #87868A;
}

.consultoria img {
    width: 648px;
    height: auto;
}

@media (max-width: 1240px) {
    .consultoria-container {
        flex-direction: column;
    }
    .consultoria-texto {
        min-width: auto;
    }
}

@media (max-width: 720px) {
    .consultoria img {
        width: 470px;
    }
}

@media (max-width: 500px) {
    .consultoria img {
        width: 388px;
    }
}

@media (max-width: 400px) {
    .consultoria img {
        width: 310px;
    }
}