.footer {
    margin: 0 auto;
    width: 75%;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #87868A;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.menu-footer{
    list-style:none;
    float:left;
    height: 20px;
  }

  .menu-footer ul {
    padding: 0;
  }
  
  .menu-footer li{
    position:relative;
    float:left;
  }
  
  .menu-footer li a{
    color: white;
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
    font-size: 12px !important;
  }
  
  .menu-footer li a:hover{
    color: #F2CD00;

  }
  
  .menu-footer li  ul{
    position:absolute;
    top:25px;
    left:0;
    display:none;
    }
  
  .menu-footer li:hover ul, .menu-footer li.over ul{
    display:block;
    background-color: #1d252d;
    border-radius: 10px;
    border: #1d252d;
  }
  
  .menu-footer li ul li{
    display:block;
    width: 180px;
  }

.footer-menu-empresas {
    display: flex;
    flex-direction: row;
}

.footer-menu-empresas img:first-child{
    margin-right: 15px;
}

.footer-menu-itens .menu {
    padding: 0;
}

.footer-redes-e-contatos {
    display: flex;
    justify-content: space-between;
}

.footer-dados {
    display: flex;
}

.footer-dados i {
    color: #F2CD00;
    font-size: 15px;
    margin-right: 18px;
}

.footer-dados p {
    color: white;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    margin: 0 0 3px 0;
}

.footer-dados-endereco {
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.footer-dados-icones i {
    color: #F2CD00;
    font-size: 30px;
    padding: 5px;
}

.footer-copyright p{
    margin-top: 90px;
    color: #87868A;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 1500px) {
  .footer-menu {
    flex-direction: column !important;
  }
  .footer-menu-empresas {
    margin: 0 auto;
  }
  .footer-menu-itens {
    margin: 0 auto;
    padding: 40px 0 20px 0;
  }
}