.parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parceiros h1 {
    font-size: 36px;
    font-weight: 800;
    padding-top: 70px;
}

.parceiros img {
    width: 220px;
    padding-bottom: 30px;
}