.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.servicos-texto {
    width: 35%;
}

.servicos-texto h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}

.servicos-texto p{
    color: #87868A;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.servicos-texto a{
    font-size: 16px;
    font-weight: 800;
    fill: #FF6900;
    color: #FF6900;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FF6900;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.servicos-texto a:hover {
    color: white;
    background-color: #FF6900;
    transition: ease-in 200ms;
}

.servicos img {
    width: 600px;
}

@media (max-width: 1250px) {
    .servicos {
        flex-direction: column;
    }
    .servicos img {
        margin: 30px 0;
    }
    .servicos-texto {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .servicos img {
        width: 486px;
    }
    .servicos-texto h1 {
        font-size: 32px;
    }
    .servicos-texto p {
        font-size: 16px;
    }
}

@media (max-width: 660px) {
    .servicos img {
        width: 410px;
    }
}

@media (max-width: 560px) {
    .servicos img {
        width: 344px;
    }
}

@media (max-width: 430px) {
    .servicos img {
        width: 274px;
    }
}